# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

BASE_URL="http://localhost:4000"
NEXT_PUBLIC_BASE_URL=$BASE_URL

NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_HOOK_SECRET=""
SANITY_API_READ_TOKEN=""